@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark Version:

Primary Color: #0E141B (Dark Blue/Black)
Secondary Color: #64FFDA (Turquoise)
Accent Color: #FFD700 (Gold)
Background Color: #000000 (Black)
Text Color: #FFFFFF (White)
Light Version:

Primary Color: #4C566A (Dark Gray)
Secondary Color: #5E81AC (Blue Gray)
Accent Color: #FFD700 (Gold)
Background Color: #FFFFFF (White)
Text Color: #000000 (Black) */

/*dark*/
$primary-color-dark: #0e141b;
$secondary-color-dark: #64ffda;
$accent-color-dark: #ffd700;
// $background-color-dark: #27296a;
$background-color-dark: #27296a;
$text-color-dark: #ffffff;

/*light*/
$primary-color: #4c566a;
$secondary-color: #5e81ac;
$accent-color: #ffa600;
$background-color: #ffffff;
$text-color: #000000;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow: auto;
  box-sizing: border-box;
  font-family: "Chakra Petch", sans-serif;
  color: rgb(var(--foreground-rgb));
  background-color: $background-color-dark;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ) */
  /* rgb(var(--background-start-rgb)); */
}
.container {
  width: 80%;
  margin: 0 auto;
}

.card-group {
  @apply flex flex-col w-full mx-auto my-10;
}
.card {
  @apply flex flex-col w-[66%] mx-auto my-10 p-3 rounded-xl;
  background-color: $primary-color-dark;
  color: #fff;
}
.title {
  @apply text-2xl w-full bg-green-400 rounded-lg mb-3 p-3 text-center;
  color: $primary-color-dark;
  font-weight: 800;
}
.hints {
  @apply mt-3 p-3 rounded-lg;
  background-color: $accent-color;
  color: $primary-color-dark;
}
.short-details {
  @apply my-2;
}
.card-btn {
  @apply mt-10 p-3 w-full rounded-lg;
  background-color: rgb(57, 95, 211);
  color: #fff;
}

.bg-dark {
  background-color: $primary-color-dark;
}
.bg-secondary{
  background-color: $primary-color;
}

.side-menu {
  @apply w-full flex flex-col justify-center gap-2 ;

  .menu-item {
    width: 100%;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
    padding:2px 1rem;
    cursor: pointer;
    // background-color: red;
    &:hover{
      @apply bg-green-500 text-white;
    }
  }
}

.bordered-btn{
  @apply flex justify-center items-center border border-green-500 px-3 rounded-lg font-extrabold cursor-pointer hover:bg-white hover:text-green-500 transition duration-300 ease-in-out delay-100;
}

.neon-green-text {
  color: #00ff00; /* Neon green text color */
  text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00; /* Multiple layers of shadow */
  animation: neon-glow 3s linear infinite alternate;
}

@keyframes neon-glow {
  0% {
    color: #00ff00;
    text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
  }
  50% {
    color: #ffff00;
    text-shadow: 0 0 10px #ffff00, 0 0 20px #ffff00, 0 0 30px #ffff00;
  }
  100% {
    color: #f3152f;
    text-shadow: 0 0 10px #f3152f, 0 0 20px #f3152f, 0 0 30px #f3152f;
  }
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px); /* Apply blur effect to the background */
  z-index: 9999;
}

.loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid transparent;
  border-top-color: #00ff00; /* Green color */
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// hidden lg:flex 

.alert {
  position: fixed;
  bottom:5%;
  right: 0%;
  transform: translateX(-50%);
  color: #ffffff; /* White text color */
  padding: 10px 20px;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s;
  max-width: 40%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Box shadow */
  transition: box-shadow 0.3s;
  animation: alertEnter 0.3s forwards;
  display: flex;
}

.alert-success{
  @apply bg-green-500;
}
.alert-danger{
  @apply bg-red-500;
}
.alert-warning{
  @apply bg-orange-500;
}
.alert-default{
  @apply bg-blue-500;
}

.alert.visible {
  opacity: 1;
}
@keyframes alertEnter {
  0% {
    right: -100%;
  }
   100% {
    right: 0;
  }
}

.message {
  margin: 0;
}

/* new alert */
// .alert {
//   position: fixed;
//   top: 50%;
//   right: -100%; /* Start from outside the viewport */
//   transform: translate(100%, -50%);
//   @apply bg-green-500;
//   color: #ffffff; /* White text color */
//   padding: 10px 20px;
//   border-radius: 4px;
//   animation: alertEnter 0.3s forwards;
//   z-index: 9999;
// }

// .message {
//   margin: 0;
// }

// @keyframes alertEnter {
//   0% {
//     right: -100%;
//   }
//    100% {
//     right: 0;
//   }
// }